.popup__content {
    display: grid;
    grid-template-columns: minmax(280px, 430px);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    align-content: start;
    justify-self: center;
}

@media screen and (max-width: 320px){
    .popup__content {
        min-height: 322px;
    }
}